@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor-sistemas {
    @include m.tablet {
        @include m.grid(3, 2rem)
    }
}

.sistema {
    background-color: lighten(v.$gris, 5);
    border: 1px solid darken(v.$gris, 10);
    margin-bottom: 3rem;

    .contenido-sistema {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }

    .precio {
        color: v.$verde;
        font-weight: v.$bold;
        font-size: 3rem;
    }
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;

    li {
        flex: 1;
        display: flex;

        img {
            
            flex : 0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: v.$black;
        }
    }
}